*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    font-family: 'Roboto', sans-serif;
}
main{
    height: 100vh;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center{
    display: flex;
    flex-direction: column;
}
.d-block{
    display: block;
}
/*FORM*/
div.form-box{
    text-align: center;
    margin: 3rem 0;
}
div.form-box label{
    text-transform: uppercase;
    font-weight: bold;
}
div.form{
    margin-bottom: 3rem;
}